/**
 * Created by zh on 2019/12/18.
 */
.countButton {
  margin: 20px 20px 0 0;
}
.demoContainer {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid darkgray;
}
.question {
  margin-top: 10px;
}
.imageContainer {
  width: 200px;
  height: 150px;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
