.layout {
  height: 100%
}

.layout .header {
  padding: 0;
  font-size: 18px;
  background: #FFF;
}

.layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.layout .trigger:hover {
  color: #1890ff;
}

.layout .sider {
  overflow-y: auto;
}

.layout .logo {
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background: url("@/assets/images/home.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s linear;
}
.layout .logo:hover {
  transform: scale(1.1);
}

.layout .content {
  position: relative;
  padding: 30px;
}

.layout .breadcrumb {
  display: inline-block;
}
